{% extends "template.html" %}

{% block content %}

<main class="service-page">
  <section class="service">

    <div class="service-text">
      <h2>Data Minimisation for Healthcare Providers</h2>

      <p class="service-subtitle">
        Protecting your company and your clients’ data by practicing data minimisation.
      </p>

      <div class="service-actions">
        <a href="#" class="info-button">Learn More</a>
        <a href="#" class="info-button">Get Started</a>
      </div>
    </div>

    <div class="service-image">
      <!-- Please add image here -->
    </div>

  </section>
</main>

{% endblock %}