{% extends "template.html" %}
{% block content %}
<h2>Background Check:</h2>
<div> <!-- this is setted as a div so that the content can be stylized together-->
    
    <p> <!--TODO: Insert content of background check here-->
        Insert content of background check here
    </p>
    
    <div> <!-- this is setted as a div so that the buttons can be stylized together-->
    <button>Yes</button>
    <button>No</button>
    <button>Unsure</button>
    </div>

</div>

<div> <!-- this is setted as a div so that the buttons can be stylized together-->
<button>Back</button>
<button>Continue</button>
</div>

{% endblock %}