{% extends "q_dataAsset_template.html" %}

     
    {% block dataAsset %} Personal Data Asset {% endblock %}

    {% block dataAssetExplaination %}

    a bit of explanation 
    
    
    {% endblock %} 

    {# comment: if the user choose "no", they don't collect this type of data asset #}
    {% block nextDataAsset %} Health data asset {% endblock %}

    {# comment: if the user choose "yes", they collect this type of data asset #}
    {% block dataAsset2 %} personal data asset {% endblock %}
