{% extends "template.html" %}
{% block content %}
<h2>{% block dataAsset %} {% endblock %}</h2>

<div> <!-- this is setted as a div so that the content can be stylized together-->
    <p>
        {% block dataAssetExplaination %}
        {% endblock %} 
    </p>
</div>

<h3>Does your organisation collect any of these types of health data?</h3>


<div> <!-- this is setted as a div so that the buttons can be stylized together-->
    <button>No</button>
    <p>Skip to {% block nextDataAsset %}{% endblock %}</p>
    <button>Yes</button>
    <p>Continue with {% block dataAsset2 %}{% endblock %} questionnaire</p>
</div>
{% endblock %}

