{% extends "q_questionnaire_template.html" %}
{% block dataAsset %} Personal Data Asset {% endblock %}
{% block category %} Personal Details and Contact Details {% endblock%}
{% block checkbox %} 
<!--TODO: fill in attributes-->
<div>
<h3>attribute group 1</h3>
    <label>
        <input type="checkbox">
        attribute 1 
    </label>
    <label>
        <input type="checkbox">
        attribute 2
    </label>
</div>

<div>
<h3>attribute group 2</h3>
    <label>
        <input type="checkbox">
        attribute 1 
    </label>
    <label>
        <input type="checkbox">
        attribute 2
    </label>
</div>

{% endblock %}
{% block category2 %}  Government-issued identifiers and Sensitive Information {% endblock %}